{% extends "base.html" %}
{% block title %}DreamRosary Home Page{% endblock %}
{% block content %}
<h1>&nbsp Welcome to DreamRosary! I, Lina Wareham, make Rosaries and Baby Pins that are Handmade to order, with Love! DM (Direct Message) on socials to customize your order. <a href="https://www.instagram.com/dreamyrosary/"> @dreamyrosary</a>
  
</h1>
<!--<image src="{{ url_for('static', filename='images/Rosary Teal.jpg')}}" alt="Rosary Teal" Style="width:540px;Height:407px;"> 
    <h1> Teal Color Rosary  </h1>
-->
<table>
    <tr>
        <th style="font-size:140%;"> Rosary</th>
        <th style="font-size:140%;" align="left"> &nbsp &nbsp Description</th>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary Teal.jpg')}}" alt="Rosary Teal" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #1 Teal Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary Olive Wood and Blue.jpg')}}" alt="Rosary Olive Wood and Blue" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #2 Olive Wood and Blue Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary Gold and White.jpg')}}" alt="Rosary Gold and White" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #3 Gold and White Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary Purple and White.jpg')}}" alt="Rosary Purple and White" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #4 Purple and White Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary Blue and White.jpg')}}" alt="Rosary Blue and White" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #5 Blue and White Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary White and Purple.jpg')}}" alt="Rosary White and Purple" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #6 White and Purple Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary White and Rose Red.jpg')}}" alt="Rosary White and Rose Red" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #7 White and Rose Red Rosary</td>
    </tr>
    <td><image src="{{ url_for('static', filename='images/babypins/Pin Rosary Blue.jpg')}}" alt="Pin Blue" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #100 Pin Rosary Blue</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/babypins/Pin Rosary Green.jpg')}}" alt="Pin Green" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #101 Pin Rosary Blue</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/babypins/Pin Rosary Pink.jpg')}}" alt="Pin Pink" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #102 Pin Rosary Pink</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary Purple and White.jpg')}}" alt="Rosary Purple and White" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #103 Purple and White Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary Blue and White.jpg')}}" alt="Rosary Blue and White" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #104 Blue and White Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary White and Purple.jpg')}}" alt="Rosary White and Purple" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #105 White and Purple Rosary</td>
    </tr>
    <tr>
        <td><image src="{{ url_for('static', filename='images/Rosary White and Rose Red.jpg')}}" alt="Rosary White and Rose Red" Style="width:540px;Height:407px;"></td>
        <td>&nbsp &nbsp &nbsp &nbsp #106 White and Rose Red Rosary</td>
    <tr>
</table>

{% endblock %}  